body {
    background-color: black;
}

label {
    margin-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.reg {
    display: flex;
    flex-direction: column;
}

.about_me {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

li {
    display: flex;
    flex-direction: column; 
}

input {
    width: 350px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: black;
    color:aliceblue;
}

textarea {
    width: 350px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: black;
    color:aliceblue;
}

.about_me {
    height: 500px;
}

.r {
    display: flex;
    flex-direction: row;
}

.btn {
    height: 50px;
    width: 300px;
    margin-top: 150px;
    margin-left: 270px;
    border-radius: 20px;
    background-color: black;
    color: aliceblue;
    font-family: monospace;
    font-size: x-large;
}

main {
    border-radius: 60px;
    margin: 80px 250px;
    padding: 20px 50px;
    height: 834px;
    width: 829px;
    background-color: #ff7b00;
    
}