<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quest</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'quest/quest.css' %}">
</head>
<body>
    <main>
        <h1>Анкета пользователя</h1>
        <div class="questionnaire">
            <img src="{{ image_1 }}" alt="" width="300" height="300">
            <ul class="data">
                <li>Имя: {{ my_name }}</li>
                <li>Фамилия: {{ my_secname }}</li>
                <li>Дата рождения {{ my_byrthday }}:</li>
                <li>Навыки: <ul class="skills">
                                <li>{{ my_skills1 }}</li>
                                <li>{{ my_skills2 }}</li>
                                <li>{{ my_skills3 }}</li>
                                <li>{{ my_skills4 }}</li>
                                <li>{{ my_skills5 }}</li>
                            </ul>
                </li>
            </ul>
        </div>
        <h2>О себе:</h2>
        <span>{{ about_me}}</span>
        <form action="{% url 'home' %}">
            <button class="btn">Закрыть</button>
        </form>
    </main>
</body>
</html>