h1 {
    color: #134ac2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
}

p{
    color: #134ac2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
}

a {
    margin-left: 100px;
}

.card {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background:  black;
    object-fit: cover;
    margin-left: 50px;

}