<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация пользователя</title>
</head>
<body>
    <h1>Регистрация пользователя</h1>
    <form action="{{% url 'quest/quest.html' %}}">
        <span>Ссылка на ваше фото(из соцсети):</span>
        <span>Расскажите о себе</span>
        <input id="a" type="text1">
        <div></div>
        <input id="b" type="text2">
        <div></div>
        <span>Имя:</span>
        <div></div>
        <input id="c" type="text3" name="my_name">
        <div></div>
        <span>Фамилия:</span>
        <div></div>
        <input id="d" type="text4">
        <div></div>
        <span>Дата рождения:</span>
        <div></div>
        <input id="e" type="text5">
        <div></div>
        <span>Ваши навыки:</span>
        <div></div>
        <input id="f" type="text6">
        <div></div>
        <input id="g" type="text7">
        <div></div>
        <input id="h" type="text8">
        <div></div>
        <input id="i" type="text9">
        <div></div>
        <input id="g" type="text10">
        <div></div>
        <input id="k" type="text11">
        <div></div>
        <button id="OTP">Отправить</button>
    </form>


</body>
</html>