body {
    background: #5CDB95;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    color: #05386B;
    margin-top: 60px;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: #05386B;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

li {
    margin-left: 30px;
}

button {
    margin-top: 110px;
    margin-left: 450px;
    height: 60px;
    width: 500px;
    background: #05386B;
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: #5CDB95;
}

